<h1>False Autos</h1>

{{#each notes}}
<div class="note">
    <p>{{ make }}</p>
    <p>{{ model }}</p>
    <p>{{ year }}</p>
    <p>{{ color }}</p>
    <p>{{ mileage }}</p>
    <p>{{ interior }}</p>
    <p>{{ trim }}</p>
    <p>{{ engine }}</p>
    <p>{{ fuel }}</p>
    <p>{{ vin }}</p>
    <p>{{ warranty }}</p>
</div>
{{/each}}